{% extends 'base.html' %}
{% load static %}


{% block content %}


<div class="container">

    <div class="row">

        <!--Form Sign In-->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="container">
                <form action="{% url 'editar_categoria' categoria.id %}" method="post">
                    {% csrf_token %}
                    {{form}}

                    <div class="login-footer form-group mb-50">
                        <button type="submit" class="btn btn-bold">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>

{% endblock %}