
<div class="col-lg-3 col-md-4">
    <div class="vertical-menu vertical-category-block">
        <div class="block-title">
            <span class="menu-icon">
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
            </span>
            <span class="menu-title">Categorias</span>
            <span class="angle" data-tgleclass="fa fa-caret-down"><i class="fa fa-caret-up"
                    aria-hidden="true"></i></span>
        </div>

        <div class="wrap-menu">
            <ul class="menu clone-main-menu">
                {% for categoria in categories %}
                <li class="menu-item menu-item-has-children has-megamenu">
                    <a href="{% url 'posts_by_category' categoria.id %}" class="menu-name" data-title="Fruit & Nut Gifts"><i
                            class="biolife-icon icon-fruits"></i>{{categoria.categoria_name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>