{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


        <div class="container">

            <div class="row">

                <!--FORMULARIO DE REGISTRO DE USUARIO-->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="register-in-container">
                        <div class="intro">
                            <h4 class="box-title">Quieres ser Parte de nosotros?</h4>
                            <p class="sub-title">Crea tu usuario para ver los beneficios de nuestra plataforma</p>
                            <ul class="list">
                                <li>Revisa mas Rapido</li>
                                <li>Guarda multiples compras y envios</li>
                                <li>Accede a tu historial de pedidos</li>
                                <li>Dale seguimiento a tus pedidos</li>
                                <li>Guarda tus articulos en tu lista de deseos.</li>
                            </ul>
                            <a href="{% url 'login' %}" class="btn btn-bold">Inicia Sesion para ver tus pedidos</a>
                        </div>
                    </div>
                </div>

                <!--FORMULARIO DE REGISTRO DE USUARIO-->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="register-in-container">
                        <form action="{% url 'register' %}" method="post">
                            {% csrf_token %}
                            {{form | crispy}}

                            <div class="login-footer form-group mb-50">

                                <button type="submit" class="btn btn-bold" name="register" >Registrarse</button>

                            </div>
                            
                        </form>
                    </div>
                </div>


            </div>

        </div>







{% endblock %}